* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

header {
    width: 100%;
    height: 80px;
    background-color: rgb(64, 20, 20);
    margin-bottom: 40px;
    position: fixed;
    top: 0;
}

.container {
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cards {
    width: 250px;
    height: 400px;
    background-color: aqua;
    border-radius: 25px;
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}